<br><br><br><br>

    <div _ngcontent-ecr-c5="" class="container-fluid">
      <div _ngcontent-ecr-c5="" class="row">
        <div _ngcontent-ecr-c5="" class="col-md-12">
          <div _ngcontent-ecr-c5="" class="card">
            <div _ngcontent-ecr-c5="" class="card-header card-header-success">
              <h4 _ngcontent-ecr-c5="" class="card-title">
                Tutorías planificadas de Acompañamiento
              </h4>
              <p _ngcontent-ecr-c5="" class="card-category">
                Listado de tutorías planificadas de Acompañamiento.
              </p>
            </div>
            
              <div _ngcontent-ecr-c5="" class="table-responsive">
                <table _ngcontent-ecr-c5="" class="table" >
                  <thead _ngcontent-ecr-c5="" class="table-default text-center text-primary">
                    <th _ngcontent-ecr-c5=""  width="5%">TUTORÍA</th>
                    <th _ngcontent-ecr-c5=""  width="20%">TEMA</th>
                    <!-- <th _ngcontent-ecr-c5=""  width="20%">Asignaturas</th> -->
                    <th _ngcontent-ecr-c5=""  width="20%">FECHA</th>
                    <th _ngcontent-ecr-c5=""  width="10%">AULA</th>
                    <th _ngcontent-ecr-c5=""  width="10%">HORA</th>

                  </thead>
                  
                  <tbody _ngcontent-ecr-c5="" class="table-default  text-center" style="text-align: center" >
                    <tr _ngcontent-ecr-c5="" *ngFor= "let tutorias of tutoria">
                      <td _ngcontent-ecr-c5="" width="5%">{{tutorias.tutoria}}</td>
                      <td _ngcontent-ecr-c5="" width="20%">{{tutorias.tema}}</td>
                      <!-- <td _ngcontent-ecr-c5="" width="20%">{{tutorias.asignatura}}</td> -->
                      <td _ngcontent-ecr-c5="" width="20%">{{tutorias.fecha}}</td>
                      <td _ngcontent-ecr-c5="" width="10%">{{tutorias.aula}}</td>
                      <td _ngcontent-ecr-c5="" width="10%">{{tutorias.hora}}</td>


                     
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
          <div _ngcontent-ecr-c5="" class="col-md-12">
            <div _ngcontent-ecr-c5="" class="card">
              <div _ngcontent-ecr-c5="" class="card-header card-header-success">
                <h4 _ngcontent-ecr-c5="" class="card-title">
                  Tutorías planificadas de Reforzamiento.
                </h4>
                <p _ngcontent-ecr-c5="" class="card-category">
                  Listado de tutorías planificadas de reforzamiento.
                </p>
              </div>
              
                <div _ngcontent-ecr-c5="" class="table-responsive">
                  <table _ngcontent-ecr-c5="" class="table" >
                    <thead _ngcontent-ecr-c5="" class="table-default text-center text-primary">
                      <th _ngcontent-ecr-c5=""  width="5%">TUTORÍA</th>
                      <th _ngcontent-ecr-c5=""  width="20%">TEMA</th>
                      <th _ngcontent-ecr-c5=""  width="20%">Asignaturas</th>
                      <th _ngcontent-ecr-c5=""  width="20%">FECHA</th>
                      <th _ngcontent-ecr-c5=""  width="10%">AULA</th>
                      <th _ngcontent-ecr-c5=""  width="10%">HORA</th>
  
                    </thead>
                    
                    <tbody _ngcontent-ecr-c5="" class="table-default  text-center" style="text-align: center" >
                      <tr _ngcontent-ecr-c5="" *ngFor= "let tutorias of tutoriaR">
                        <td _ngcontent-ecr-c5="" width="5%">{{tutorias.tutoria}}</td>
                        <td _ngcontent-ecr-c5="" width="20%">{{tutorias.tema}}</td>
                        <td _ngcontent-ecr-c5="" width="20%">{{tutorias.asignatura}}</td>
                        <td _ngcontent-ecr-c5="" width="20%">{{tutorias.fecha}}</td>
                        <td _ngcontent-ecr-c5="" width="10%">{{tutorias.aula}}</td>
                        <td _ngcontent-ecr-c5="" width="10%">{{tutorias.hora}}</td>
  
  
                       
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
        </div>
      </div>

