<br><br><br><br>
<div class="container">
<h5 class="text-success">
  *Planificacion de la tutoría de reforzamiento.<span class="label label-default"></span>
</h5>


<div class="alert alert-light text-center border border-primary" role="alert"><ul class="alert-link text-primary"><h5>{{titleDocente}}</h5></ul></div>
<h5>
  *Datos del tutor de reforzamiento.<span class="label label-default"></span>
</h5>
</div>
<br>
<div class="container">
  <app-datos-docente [datos]="cedula" [nombres]="estudiante"></app-datos-docente>
</div>

  <div class="container">
    <div class="alert alert-light text-center border border-primary" role="alert"><ul class="alert-link text-primary"><h5>{{titleTutoria}}</h5></ul></div>
    <h5>
      *Ingrese la informacion correspondiente a la Planificación.<span class="label label-default"></span>
    </h5>
    <div class="row">    
  
      <div class="col-md-6">
        <mat-form-field for="Input" class="example-full-width">
          <mat-label>Tema</mat-label>
          <textarea matInput placeholder="" class="text-uppercase" id="Input33" name="tema" type="text" [(ngModel)]="tema.tema"></textarea>
        </mat-form-field>
        <!-- <input class="form-control text-uppercase" name="tema" id="Input33" type="text" [(ngModel)]=" tema.tema" /> -->
      </div>
  

    <div class="col-md-6">
      <label for="Input" class="control-label">¿Desea el horario establecido?</label>

      <!-- <mat-label for="Input21" class="example-full-width" >DESEA EL HORARIO ESTABLECIDO EN LA TUTORIA?</mat-label> -->

        <mat-radio-group [(ngModel)]="expressType">
          <mat-radio-button class="example-radio-button" *ngFor="let te of typeExpress" [value]="te" style="margin-left: 16px;">
            {{ te }}
          </mat-radio-button>
        </mat-radio-group>
        <ng-container *ngIf="expressType === 'Si'">
          <!-- <label for="Input" class="col-sm-8 control-label">NRC DEL QUE REQUIERE LA TUTORIA/ HORARIO ESTABLECIDO</label> -->
          <div class="row">

          <div class="col-md-6">

          <mat-form-field class="example-full-width"> 
            <mat-label >Seleccione una Asignatura</mat-label>
          <mat-select style="width:500px; font-size: 15px;" [(ngModel)]="nrc1.id" name="nrcS" #select1="ngModel" required> 
            
            <mat-option  *ngFor="let nrc of nrcs" value="{{nrc.nrc}}" (click)="nrcSeleccionadoOption(nrc)">
              {{nrc.nrc}} - {{nrc.asignatura}} {{nrc.campus}} 
              {{nrc.periodo}} {{nrc.inicio}} {{nrc.fin}}
             </mat-option>
             </mat-select>
             <mat-error *ngIf="select1.hasError('required')">Selecciona una Asiganatura</mat-error>
             </mat-form-field>
            </div>
          </div>

        </ng-container>
        <ng-container  *ngIf="expressType === 'No'">
          <div class="row">

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input placeholder="Hora inicio:" matInput id="Input3" name="hinicia" type="text" value="" [(ngModel)]="horaIN" >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input placeholder="Hora fin:" matInput id="Input4" name="hfin" type="text" value="" [(ngModel)]="horaIF" >
            </mat-form-field>
          </div>
        </div>
  

        </ng-container>

      
      <br/>

      
    </div><br><br><br>
    <ng-container *ngIf="expressType === 'Si'">

    
      <label for="Input" class="col-sm-12 control-label">¿A quien dara la tutoría?</label>
      
      
      <div class="col-md-6">
         
        <mat-radio-group aria-label="Select an option" [(ngModel)]="publico">
          <mat-radio-button value="T">Todos</mat-radio-button>
          <mat-radio-button value="M">Alumnos con notas menos de 14</mat-radio-button>
          <mat-radio-button value="S">Solicitados por el estudiante</mat-radio-button>
        </mat-radio-group>
  
      </div>
  
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Escoga la fecha en el icono*</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date"  (dateChange)="FechaDeTutoria($event)">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div> 
    <label for="Input" class="col-sm-12 control-label">Aula o lugar de la planificación</label>
    <div class="col-md-12">
        <mat-radio-group [(ngModel)]="expressType1">
          <mat-radio-button class="example-radio-button" *ngFor="let te of typeExpress1" [value]="te" style="margin-left: 16px;">
            {{ te }}
          </mat-radio-button>
        </mat-radio-group>
        
        <ng-container *ngIf="expressType1 === 'Aula'">
          <div class="row">
              <div class="col-md-6">
                <mat-form-field > 
                  <mat-label>Seleccione un Aula</mat-label>
                <mat-select style="width:500px; font-size: 12px;" [(ngModel)]="horariosSelected" name="horario" #select2="ngModel" required> 
                  
                  <mat-option  *ngFor="let Aula of Aulas" value="Aula" (click)="guardarAula(Aula)" >
                    Bloque: {{Aula.nivel}} Aula:  {{Aula.Aula}} Horario:{{Aula.horario}}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="select2.hasError('required')">Selecciona un Horario</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input placeholder="Hora inicio:" matInput id="Input5" name="hinicia" type="text" [(ngModel)]="horaFormatoI"  disabled>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input placeholder="Hora fin:" matInput id="Input6" name="hfin" type="text" [(ngModel)]="horaFormatoF"   disabled>
                </mat-form-field>
              </div>
            </div>
 
        </ng-container>
        <ng-container  *ngIf="expressType1 === 'Lugar'">
          <div class="row">

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="INGRESE Lugar" id="Input45" name="Lugar2" type="text" [(ngModel)]="SiLugar" ></textarea>
            </mat-form-field>
          </div>          
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input placeholder="Hora inicio:" matInput id="Input10" name="hinicia" type="text" value="" [(ngModel)]="SiLugarHorarioI" disabled>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input placeholder="Hora fin:" matInput id="Input11" name="hfin" type="text" value="" [(ngModel)]="NoLugarHorarioF" disabled>
            </mat-form-field>
          </div>
        </div>

        
        </ng-container>
   
    </div>
  </ng-container>
  <ng-container  *ngIf="expressType === 'No'">

    <label for="Input" class="col-sm-12 control-label">¿A quien dara la tutoría?</label>
    
    
    <div class="col-md-6">
       
      <mat-radio-group aria-label="Select an option" [(ngModel)]="publico">
        <mat-radio-button value="T">Todos</mat-radio-button>
        <mat-radio-button value="M">Alumnos con notas menos de 14</mat-radio-button>
        <mat-radio-button value="S">Solicitados por el estudiante</mat-radio-button>
      </mat-radio-group>

    </div>

    <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Escoga la fecha en el icono* </mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date"  (dateChange)="FechaDeTutoria($event)">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
      </div> 

    <label for="Input" class="col-sm-12 control-label">Aula o lugar de tutoría </label>
    <div class="col-md-12">
        <mat-radio-group [(ngModel)]="expressType2">
          <mat-radio-button class="example-radio-button" *ngFor="let te of typeExpress2" [value]="te" style="margin-left: 16px;">
            {{ te }}
          </mat-radio-button>
        </mat-radio-group>
        
        <ng-container *ngIf="expressType2 === 'Aula'">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
              <mat-form-field>
                <mat-select style="width:200px; font-size: 12px;" [(ngModel)]="nrc1.id" name="nrcS" #select1="ngModel" required> 
                  <mat-option  *ngFor="let nrc of nrcNo" value="" (click)="guardarAulaNo(nrc)">
                    {{nrc.nrc}} - {{nrc.asignatura}} {{nrc.campus}} 
                   </mat-option>
                   </mat-select>
                   <mat-error *ngIf="select1.hasError('required')">Selecciona un Campus</mat-error>
                   </mat-form-field>

              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <mat-form-field > 
                  <mat-select style="width:200px; font-size: 12px;" [(ngModel)]="horariosSelected" name="horario" #select2="ngModel" required> 
                 <mat-option  *ngFor="let Aula of Aulas2" value="Aula" (click)="guardarAsignaturaNo(Aula)">
                  Bloque: {{Aula.nivel}} &nbsp;&nbsp;&nbsp; Aula: {{Aula.Aula}} &nbsp;&nbsp;&nbsp;
                  </mat-option>
                  </mat-select>
                  <mat-error *ngIf="select2.hasError('required')">Selecciona un Horario</mat-error>
                  </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input placeholder="Hora inicio:" matInput id="Input41" name="hinicia" type="text" value="" [(ngModel)]="horarioInNo" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input placeholder="Hora fin:" matInput id="Input78" name="hfin" type="text" value="" [(ngModel)]="horarioFiNo" disabled>
                </mat-form-field>
              </div>
            </div>

        </ng-container>

        <ng-container  *ngIf="expressType2 === 'Lugar'">
          <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <mat-form-field class="example-full-width">
              <mat-select style="width:500px; font-size: 15px;" [(ngModel)]="nrc1.id" name="nrcS" #select3="ngModel" required> 
                <mat-option  *ngFor="let nrc of nrcs3" value="{{nrc.nrc}}"  (click)="SelectNrcnrLugar(nrc)" >
                  {{nrc.nrc}} - {{nrc.asignatura}} {{nrc.campus}} 
                 </mat-option>
                 </mat-select>
                 <mat-error *ngIf="select3.hasError('required')">Selecciona un Campus</mat-error>
                 </mat-form-field>
            </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Ingrese Lugar" id="Input12" name="Lugar" type="text" [(ngModel)]="NoLugar"></textarea>
            </mat-form-field>
          </div>
        </div>
        </ng-container>
   
    </div>
  


  </ng-container>

   
  
  <div class="container">
    <br><div class="alert alert-light text-center border border-primary" role="alert"><ul class="alert-link text-primary"><h5>{{titleRegistro}}</h5></ul></div>
    <h5>*Datos generales la planicicación<span class="label label-default"></span></h5>
    <div class="form-group">
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>Observaciones</mat-label>
            <textarea matInput placeholder="" id="Input11" class="text-uppercase" name="observaciones" type="text" [(ngModel)]="observaciones"></textarea>
          </mat-form-field>
        </div>
    </div>
    
    <!-- <div class="col-md-12 centerbtn" >
      <button class="btn btn-success" type="submit" name="Submit" (click)="guardarTutoria()">Enviar</button>
    </div> -->
    <div class="col-md-12 centerbtn">

      <button
        mat-raised-button=""
        class="btn btn-success btn-round mat-raised-button mat-button-base"
        type="submit" name="Submit" (click)="guardarTutoria()"
      >
      Enviar&nbsp;<span class="mat-button-wrapper" class="material-icons"> 
        send</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
      </button>
    </div>
  </div>

</div>
