<br><br><br><br>
<app-alert></app-alert>
<div class="container">
<h6>
  *PLANIFICACIÓN DE LA TUTORÍA DE REFORZAMIENTO ACADÉMICO.<span class="label label-default"></span>
</h6>


<div class="panel panel-info panel-body text-center"><ul class="text-primary"><h4>{{titleDocente}}</h4></ul></div>
<h6>
  DATOS GENERALES DEL TUTOR DE REFORZAMIENTO ACADÉMICO.<span class="label label-default"></span>
</h6>
</div>
<br>
<div class="container">
  <app-datos-docente [datos]="cedula"  (propagar)="procesaPropagar($event)" ></app-datos-docente>
</div>

  <div class="container">
    <div class="panel panel-info panel-body text-center"><ul class="text-primary"><h4>{{titleTutoria}}</h4></ul></div>
    <h6>
      *INGRESE LA INFORMACIÓN REFERENTE A LA TUTORÍA DE REFORZAMIENTO ACADÉMICO<span class="label label-default"></span>
    </h6>
    <div class="row">
      <label for="Input" class="col-sm-6 control-label">TEMA A TRATAR</label>
      <div class="col-md-12">
        <mat-radio-group [(ngModel)]="expressType">
          <mat-radio-button class="example-radio-button" *ngFor="let te of typeExpress" [value]="te" style="margin-left: 16px;">
            {{ te }}
          </mat-radio-button>
        </mat-radio-group>
        
        <ng-container *ngIf="expressType === 'AULA'">
          <label for="Input" class="col-sm-6 control-label">INGRESE EL NRC DEL QUE REQUIERE TUTORÍA/HORARIO</label>

                
        </ng-container>
        <ng-container *ngIf="expressType === 'LUGAR'">
         
          <label for="Input" class="col-sm-6 control-label">INGRESE EL NRC DEL QUE REQUIERE TUTORÍA/HORARIO</label>

        </div>
        </ng-container>
    
        </div>
     
      

  
      <div class="col-md-6">
        <input class="form-control text-uppercase" name="tema" id="Input" type="text" [(ngModel)]=" tema.tema" />
      </div>
  
    <div class="col-md-6">
      <input class="form-control text-uppercase" name="tema" id="Input" type="text" />
  
      <br/>

      
    </div><br><br><br>
    <label for="Input" class="col-sm-3 control-label">A QUIÉN DARÁ LA TUTORÍA</label>
    <label for="Input" class="col-sm-3 control-label">FECHA DE TUTORIA</label>
    <label for="Input" class="col-sm-6 control-label">AULA/LUGAR EN LA QUE SE DARÁ LA TUTORÍA </label>
    
    <div class="col-sm-3">
    
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">TODOS</mat-radio-button><br>
    <mat-radio-button value="2">ALUMNOS NOTAS < 14</mat-radio-button>
    <mat-radio-button value="3">SOLICITADOS POR EL ESTUDIANTE</mat-radio-button>
  </mat-radio-group>


    </div>

    <div class="col-md-3">
      <input class="form-control" name="fecharegistro" id="Input" type="date"  value="" /></div>
    
    <div class="col-md-6">
      <input type="radio" name="opciones" value="aula" id="aula"> Aula 
      <input type="radio" name="opciones" value="sitio" id="sitio"> Lugar 
    </div>
    <br><br><br><br><br>
   
    <label for="Input" class="col-sm-3 control-label">HORA INICIO DE LA TUTORÍA:</label>
    <label for="Input" class="col-md-9 control-label">HORA FIN DE LA TUTORÍA:</label>
   <br>
    <div class="col-md-3"> <input id="timepicker1" type="text" name="hinicia" class="form-control input-small"></div>
    <div class="col-md-3"> <input id="timepicker2" type="text" name="hfin" class="form-control input-small"  readonly=""></div>
  </div>
</div>
  <div class="container">
    <br><div class="panel panel-info panel-body text-center"><ul class="text-primary"><h4>{{titleRegistro}}</h4></ul></div>
    <h6>*DATOS GENERALES DEL REGISTRO DE LA TUTORÍA<span class="label label-default"></span></h6>
    <div class="form-group">
        <label for="Input" class="col-sm-12 control-label">OBSERVACIONES GENERALES</label><br>
        <div class="col-md-9">
            <input class="form-control" id="Input" type="text" name="observaciones" placeholder="TRAER MODELO DE BASE DE DATOS DE ACUERDO A SU PROYECTO"><br>
        </div>
    </div>
    

    <div class="col-md-12"  align="center" ><button class="btn btn-success" type="submit" name="Submit" onclick="" value="3">Enviar</button></div>

</div>