<div class="logo">
  <img
    class="mx-auto d-block"
    src="/assets/img/Espe-Angular-Logo.png"
    alt="Logo - ESPE"
  />
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()"></div>
  <!-- <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a data-toggle="collapse" class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul> -->

  <!-- Sidebar -->
  <ul class="nav">
    <li routerLinkActive="active" class="active">
      <a
        href="#homeSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        ><span class="material-icons">account_circle&nbsp;</span
        >Acompañamiento</a
      >
      <ul class="collapse list-unstyled nav" id="homeSubmenu">
        <li
          routerLinkActive="active"
          *ngFor="let menuItem of menuItems2"
          class="{{ menuItem.class }} nav-item"
        >
          <a href="#" class="nav-link" [routerLink]="[menuItem.path]">
            <i class="material-icons">{{ menuItem.icon }}</i>
            <p>{{ menuItem.title }}</p>
          </a>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" class="active">
      <a
        href="#pageSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        ><span class="material-icons">assignment_ind&nbsp;</span
        >Reforzamiento</a
      >
      <ul class="collapse list-unstyled nav" id="pageSubmenu">
        <li
          routerLinkActive="active"
          *ngFor="let menuItem of menuItems3"
          class="{{ menuItem.class }} nav-item"
        >
          <a href="#" class="nav-link" [routerLink]="[menuItem.path]">
            <i class="material-icons">{{ menuItem.icon }}</i>
            <p>{{ menuItem.title }}</p>
          </a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active" class="active">
      <a
        href="#pageSubmenu2"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        ><span class="material-icons">menu_book&nbsp;</span>Tutorias</a
      >
      <ul class="collapse list-unstyled nav" id="pageSubmenu2">
        <li
          routerLinkActive="active"
          *ngFor="let menuItem of menuItems4"
          class="{{ menuItem.class }} nav-item"
        >
          <a href="#" class="nav-link" [routerLink]="[menuItem.path]">
            <i class="material-icons">{{ menuItem.icon }}</i>
            <p>{{ menuItem.title }}</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="container">
    <ul class="nav">
      <li
        routerLinkActive="active"
        *ngFor="let m of menuItems"
        class="{{ m.clase }} nav-item"
      >
        <a class="nav-link" [routerLink]="[m.url]">
          <i class="material-icons">{{ m.icono }}</i>
          <p>{{ m.opcion }}</p>
        </a>
      </li>
    </ul>
  </div>

  <!-- <div _ngcontent-c11="" class="container-fluid fixed-bottom pb-5">
                <button _ngcontent-c11="" class="btn btn-fab btn-primary btn-round float-right btn-xs"
                          ptooltip="Atrás" type="button" >   
                          <i _ngcontent-c11="" class="material-icons" (click)="cerrarSession()">keyboard_backspace</i>
                </button>
            </div> -->
<ul class="nav">
          
  <a
    data-toggle="collapse"
    class="nav-link collapsed"
    href="#pages"
    aria-expanded="false"
    ><i class="material-icons">image</i>
    <p>Pages<b class="caret"></b></p
  ></a>
  <div class="collapse show" id="pages" style="">
    <ul class="nav">
      <li routerlinkactive="active" class="nav-item">
        <a class="nav-link" href="#/pages/pricing"
          ><span class="sidebar-mini">P</span
          ><span class="sidebar-normal">Pricing</span></a
        >
      </li>
      <li routerlinkactive="active" class="nav-item">
        <a class="nav-link" href="#/pages/timeline"
          ><span class="sidebar-mini">TP</span
          ><span class="sidebar-normal">Timeline Page</span></a
        >
      </li>
      <li routerlinkactive="active" class="nav-item">
        <a class="nav-link" href="#/pages/login"
          ><span class="sidebar-mini">LP</span
          ><span class="sidebar-normal">Login Page</span></a
        >
      </li>
      <li routerlinkactive="active" class="nav-item">
        <a class="nav-link" href="#/pages/register"
          ><span class="sidebar-mini">RP</span
          ><span class="sidebar-normal">Register Page</span></a
        >
      </li>
      <li routerlinkactive="active" class="nav-item">
        <a class="nav-link" href="#/pages/lock"
          ><span class="sidebar-mini">LSP</span
          ><span class="sidebar-normal">Lock Screen Page</span></a
        >
      </li>
      <li routerlinkactive="active" class="nav-item">
        <a class="nav-link" href="#/pages/user"
          ><span class="sidebar-mini">UP</span
          ><span class="sidebar-normal">User Page</span></a
        >
      </li>
      <!---->
    </ul>
    
  </div>
</div>
