<fieldset class="col-12 col-md-12 px-3">
  <legend class="text-success">Datos Académicos:</legend>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Campus" type="text">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Carrera" type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Periodo" type="text">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nivel" type="text">
      </mat-form-field>
    </div>
  </div>
</fieldset>