
<div _ngcontent-ecr-c5="" class="main-content">
  <div _ngcontent-ecr-c5="" class="container-fluid">
    <div _ngcontent-ecr-c5="" class="row">
      <div _ngcontent-ecr-c5="" class="col-md-12">
        <div _ngcontent-ecr-c5="" class="card">
          <div _ngcontent-ecr-c5="" class="card-header card-header-success">
            <h4 _ngcontent-ecr-c5="" class="card-title">
              Confirmacion Acompañamiento
            </h4>
            <p _ngcontent-ecr-c5="" class="card-category">
              listado de las tutotias de acompañamiento por confirmar
            </p>
          </div>
          
          <div _ngcontent-ecr-c5="" class="card-body-form-control text-uppercase">
            <div _ngcontent-ecr-c5="" class="table-responsive">
              <table _ngcontent-ecr-c5="" class="table" >
                <thead _ngcontent-ecr-c5="" class="table-default text-center text-primary">
                  <th _ngcontent-ecr-c5=""  width="10%">Tipo de Tutoria</th>
                  <th _ngcontent-ecr-c5=""  width="70%">Tema</th>
                  <th _ngcontent-ecr-c5=""  width="5%">Opciones</th>
                </thead>
                
                <tbody _ngcontent-ecr-c5="" class="table-default  text-center" style="text-align: center" >
                  <tr _ngcontent-ecr-c5="" *ngFor= "let formulario of codA">
                    <td _ngcontent-ecr-c5="" width="10%">{{formulario.codigo_UZTPLANIF}}</td>
                    <td _ngcontent-ecr-c5="" width="70%">{{formulario.uztplanif_TITOTUTORIA}}</td>
                    <td _ngcontent-ecr-c5="" width="70%" >{{formulario.uztplanif_TEMA}}</td>
                    <td _ngcontent-ecr-c5="" >
                      <ol >
                        
                          <button  type="button" class="btn btn-outline-primary"  (click)="openDialog(formulario.codigo_UZTPLANIF)"><span class="mat-button-wrapper"><i class="material-icons "> verified_user</i></span></button>
                          <div
                          class="mat-button-ripple mat-ripple"
                          matripple=""
                          ng-reflect-centered="false"
                          ng-reflect-disabled="false"
                          ng-reflect-trigger="[object HTMLButtonElement]">
                        </div>
                        <div class="mat-button-focus-overlay"></div>
                        <li *ngIf="animal">
                          You chose: <i>{{animal}}</i>
                        
                      </ol>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
      </div>
      
      